.app-central {

}

.payment-container {
    margin: 100px auto;
    width: 500px;
    display: flex;
}

.payment-container > div {
    margin: 50px;
    text-align: center;
}

.payment-container > div > span {
    padding: 10px;
    display: inline-block;
    text-align: center;
}