#popup {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popupType {
    display: block;
}

.closeButton {
    cursor: pointer;
}