#monthly_pricing{
    display: none;
}

.min-message{
    font-size: 10px;
}

#yearly_pricing .price-item, #monthly_pricing .price-item{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12), 0 2px 10px 0 rgba(0,0,0,0.12);
    height: 675px;
    cursor: pointer;
    padding: 0;
    margin-right: 4%;
    text-align: center;
}

#yearly_pricing .price-item:hover, #monthly_pricing .price-item:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.20), 0 2px 10px 0 rgba(0,0,0,0.20);
}

#yearly_pricing .price-item:first-child, #monthly_pricing .price-item:first-child{
    margin-left: 10%;
}

.price-item-0{
    background-color: #FAC109;
}

.price-item-1{
    background-color: #59a6c6;
}

.price-item-2{
    background-color: #EC3F2E;
}

.pricing-box .most-popular {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    background: white;
    padding: 4px;
}

.pricing-box .most-popular img{
    margin-right: 10px;
}
.most-popular-plan {
    position: relative;
    top: -35px;
}

.pricing-box {
    padding-bottom: 16px;
}

.pricing-box .title .cost sup {
    font-size: 28px;
    top: -1.2em;
}

.pricing-box .title .cost sub {
    font-size: 14px;
    bottom: 0;
}

.pricing-box .title {
    padding: 20px 0;
    color: white;
    height: 220px;
}

.pricing-box .title .cost {
    font-size: 54px;
}

.pricing-box .feature, .pricing-box .billing-circle, .pricing-box .features {
    font-size: 14px;
}

.pricing-box .slogtext {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.6em;
}

.pricing-box .cost-resume-txt {
    margin-bottom: 3px;
    text-align: center;
}

.minimumLicences{
    text-align: center;
    font-size: x-small;
    margin: 0;
    line-height: .8em;
}
.pricing-box .name {
    font-size: 35px;
    padding: 12px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.pricing-box .features {
    padding: 0 26px;
}

.pricing-box .features ul {
    min-height: 280px;
    text-align: left;
}

.pricing-box .features li {
    margin: 10px 0;
    line-height: 1.25em;
}

.features .additional {
    font-weight: bold;
}

.buy-button button{
    width: 40%;
    color: #fff;
    padding: 10px 0;
}

.buy-button button:hover{
    color: #fff;
    font-weight: 900;
}

.css-j0awjz .css-1ycyyax{
    margin-bottom: 0;
}

