.content .checkoutItem {
    width: 100%;
    margin: 20px 20px 0;
}

.checkoutItem .checkoutItemHeader {
    padding: 10px;
}

.checkoutItem .checkoutItemHeader h4 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.checkoutItem .checkoutItemHeader img {
    margin-left: 20px;
    height: 10%;
}

.checkoutItem .checkoutItemHeader .version, .checkoutItem .label {
    font-size: 13px;
    color: #c4c4c4;
}

.checkoutItem .checkoutItemBody {
    padding: 10px;
    border-top: 1px solid #c4c4c4;
}

.checkoutItem .checkoutItemBody p {
    padding: 5px 20px;
}

.checkoutItem .checkoutItemBody .value-body {
    font-weight: 400;
}
